<!-- <html>
<head>
  <link type="text/css" rel="stylesheet" href="../public/materialize/css/materialize.min.css">

  <title>
    Magnani'Spark
  </title>

</head>

<body class="blue-grey darken-1 valign-wrapper"> -->
  <div class="container valign" style="width:900px;">
    <div class="row">
      <div class="col s12 white-text center-align grey darken-4" style="margin-bottom:20px;">
        <h1>Magnani'Spark</h1>
      </div>
    </div>

    <div class="row">
      <div class="card col s12 grey white-text" style="padding-top:30px;">

        <div class="col s12">
          <h5 class="">Cadastrar Veículo</h5>
        </div>

        <div class="input-field col s12 grey darken-2">
          <span class="grey-text">Placa</span><br/>
          <input placeholder="Entre com a placa do veículo, exemplo: ABC-1234" id="addcar" type="text" class="validate" style="border-bottom:grey;box-shadow:0 1px 0 0 grey;">
          <span id="aviso" class="red-text darken-4">Placa inválida!</spa>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 center-align">
        <a class="btn waves-effect grey waves-light" href="/" style="width:200px;">Cancelar
        </a>
      </div>
      <div class="col s6 center-align">
        <a class="btn waves-effect grey darken-4 waves-light" id="salvar" type="submit" style="width:200px;">Salvar
        </a>
      </div>
      <div id="load" class="col s6">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-yellow-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <p id="success" class="green-text">Veículo cadastrado com sucesso!</p>
        <p id="error" class="red-text">Houve um erro ao cadastrar o veículo!</p>
    </div>
  </div>

  <!-- JS -->
  <!-- <script type="text/javascript" src="assets/js/jquery/jquery-3.1.1.min.js"></script> -->
  <!--<script type="text/javascript" src="../public/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../public/maskedinput/maskedinput.min.js"></script> -->
  <script>
  $(function(){
      // esconde loade
      $('#load').hide();

      // esconde avisos
      $('#success').hide();
      $('#error').hide();

      // aplica maskedinput no input id="addcar"
      $('#addcar').mask("aaa-9999");

      // span com aviso, caso a placa seja inválida
      $('#aviso').hide();

      // faz submit se a placa for válida
      $('#salvar').on('click', function(evt){
        if($('#addcar').val().trim() !== '')
        {
          // monta o objeto json que vai ser enviado
          var placa = $('#addcar').val();
          var _json_object = {
            "placa": placa
          };

          // esconde avisos
          $('#success').hide(); $('#error').hide();

          $('#salvar').hide(); $('#load').show();
          setTimeout(function(){
            $.ajax({
                url:        'http://localhost:1337/veiculo/create',
                dataType:   'JSON',
                data: _json_object,
                method:     'POST'
            }).done(function(ret) {
              $('#load').hide(); $('#salvar').show(); $('#success').show(); $('#addcar').val('');
            }).fail(function(req) {
              $('#error').show();
            }).always(function() {
              $('#load').hide();   $('#salvar').show();
            });
          }, 2000);
        }
        else {
          $('#aviso').show(); $('#addcar').focus();
        }
      });

  });
  </script>
<!-- </body>


</html> -->
