<html>
<head>

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="../public/materialize/css/materialize.min.css">
  <style>
    table.striped>tbody>tr:nth-child(odd) {
      background-color: #ffffff;
    }
  </style>

  <title>
    Magnani'Spark
  </title>

</head>

<body class="blue-grey darken-1 valign-wrapper">
  <div class="container valign" style="width:900px;">

    <div class="row">
      <div class="col s12 white-text center-align grey darken-4" style="margin-bottom:20px;">
        <h1>Magnani'Spark</h1>
      </div>
    </div>

    <div class="row">
      <div class="card col s12 grey white-text" style="padding-top:30px;">

        <div class="col s12">
          <h5 class="">Encontrar Estacionamento</h5>
        </div>

        <div class="input-field col s12 m6 white-text grey darken-2">
          <span class="grey-text">Latitude</span><br/>
          <input id="latitude" type="text" style="border-bottom:grey;box-shadow:0 1px 0 0 grey;">
        </div>

        <div class="input-field col s12 m6 white-text grey darken-2">
          <span class="grey-text">Longitude</span><br/>
          <input id="longitude" type="text" style="border-bottom:grey;box-shadow:0 1px 0 0 grey;">
        </div>
        <span class="red-text" id="longitude-aviso">Valor para longitude inválido! Deve ser maior ou igual que -180 e menor ou igual que 180</span>
        <span class="red-text" id="latitude-aviso">Valor para latitude inválido! Deve ser maior ou igual que -90 e menor que ou igual 90</span>

        <div class="row">
          <div class="col s12 right-align">
            <a class="btn waves-effect grey darken-4 waves-light" id="buscar" type="submit" style="width:200px;margin-top:10px;">Buscar
            </a>
          </div>
        </div>

        <div clas="col s10">
            <table class="bordered responsive-table highlight">
              <thead>
                <tr>
                    <th data-field="id">Estacionamento</th>
                    <th data-field="name">Preço</th>
                    <th data-field="price">Distância</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Estacionamento 24hrs</td>
                  <td>R$ 5,00/h</td>
                  <td>2km</td>
                </tr>
                <tr>
                  <td>Estacionamento do Zé</td>
                  <td>R$ 3,00/h</td>
                  <td>1,5km</td>
                </tr>
                <tr>
                  <td>Mega Estacionamento 24 horas</td>
                  <td>R$ 2,00/h</td>
                  <td>15km</td>
                </tr>
                <tr>
                  <td>Estacionamento Julio das 6 às 22 horas</td>
                  <td>R$ 5,70/h</td>
                  <td>5km</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <div class="row">
      <div class="col s6 left-align">
        <a class="btn waves-effect grey waves-light" href="main.html" style="width:200px;">Voltar
        </a>
      </div>
    </div>

  </div>

  <!-- JS -->
  <script type="text/javascript" src="../public/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../public/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../public/maskedinput/maskedinput.min.js"></script>
  <script>
  $(function(){

      // esconde avisos
      $('#latitude-aviso').hide();
      $('#longitude-aviso').hide();

      // define mask para latitude
      $.mask.definitions['~']='[-]?';
      $('#latitude').mask("~999.99999");
      $('#longitude').mask('~99.99999');

      /* faz tratamento no salvar
        para controlar o tamanho da latitude e longitude*/
      $('#buscar').on('click', function(evt){
        evt.preventDefault();
        if($('#latitude').val() < -90 || $('#longitude').val() > 90)
        {
          if($('#longitude').val() < -180 || $('#latitude').val() > 180)
          {
            // verificar campos vazios
              // se passar na verificação, realizar ajax
              // se não, lançar exceção
          }
          else {
            $('#latitude-aviso').show();
          }
        }
        else {
          $('#longitude-aviso').show();
        }
      });

  });
  </script>
  </body>
</html>
